<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <configuration>
        <indexes>
          <index id="sitecore_analytics_index">
            <patch:attribute name="type" value="Sitecore.Support.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.Support.96432.109719"/>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>